.box-login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(127, 182, 255);
  margin: 20px;
  padding: 0 10px;
  transition: all 400ms ease;
  box-shadow: 2px 2px 18px greenyellow;
}
.box-login:hover {
  cursor: pointer;
  background-color: brown;
  color: white;
}
.test-page {
  background-color: rgb(250, 123, 4);
  height: 100vh;
  color: black;
}
/* ///////TOP BAR ////////// */
.topbar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  width: 100vw;
  height: 50px;
  background-image: linear-gradient(
    to right,
    #e5aec9,
    #e991b6,
    #ec729f,
    #ed4e83,
    #eb1264
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  margin-top: 20%;
  font-size: 200%;
}
.start-button {
  width: 90px;
  height: 90px;
  /* border: 1px solid red; */
  background-color: rgb(128, 192, 33);
  color: black;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgb(73, 73, 73);
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 200ms ease;
}
.start-button:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 2px;
}

/* ///////    TEST_PAGE   //////////// */
.box {
  height: 200px;
  border: 2px solid green;
}
.test-page {
  background-color: #fff;
  height: 100vh;
  margin-top: 50px;
}
.quest-box {
  border-radius: 5px;
}

.quest-toprow {
  height: 20%;
  display: flex;
  align-items: center;
}
.quest-question {
  min-height: 40px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.options {
  min-height: 30px;
  margin-left: 15px;
  padding: 0 12px;
  transition: all 300ms ease;
}
.options:hover {
  background-color: rgb(194, 194, 194);
  /* border: greenyellow 1px solid; */
  cursor: pointer;
  font-weight: 400;
}
