.heading-1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: solid #2f2f2f 1px;
  margin-bottom: 10px;
}
.hospital-name {
  display: flex;
  flex-direction: column;
  line-height: 13px;
}
.hospital-name img {
  height: 30px;
  width: 30px;
}
.patient-data {
  line-height: 10px;
  font-size: 20px;
}
.home-link {
  color: #2f2f2f;
  text-decoration: none;
  transition: 800ms;
}
.home-link:hover {
  color: #5a5a5a;
  font-weight: bold;
}
.sample {
  border: 1px solid red;
  height: 400px;
}
.sample2 {
  border-radius: 10%;
  background-color: royalblue;
  height: 400px;
  width: 400px;
}
.border-rounded {
  border-radius: 15px;
}
/* DEPARTMENT X /////////// */

.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;
}
/* ADMIN LOGIN */
.admin-title {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.admin-title a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}
@media all and (min-width: 360px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
/* ADMIN DASHBOARD  */

.box {
  margin: 10px;
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 3vw;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  height: 200px;
  transition: 400ms;
}

.welcome-doctor {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 18px;
  color: #2f2f2f;
}
.box-1 {
  border-radius: 5px;
  background-color: #845ec2;
}

.box-2 {
  border-radius: 5px;
  background-color: #4b4453;
}
.box-3 {
  border-radius: 5px;
  background-color: #b0a8b9;
}
.box-4 {
  border-radius: 5px;
  background-color: #ff8066;
}
/* TOP ROW /////////////////////////////////// */
.my-links {
  text-align: center;
}
.my-links a {
  padding: 0 10px;
  font-size: 110%;
  text-decoration: none;
  color: #2f2f2f;
  border-bottom: 1px solid transparent;

  transition: 500ms;
}
.my-links a:hover {
  font-size: 110%;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

/* PATIENT LIST  */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* ////MEDIA QUERIES  */
@media screen and (max-width: 480px) {
  .box {
    height: 80px;
  }
  th,
  td {
    font-size: 50%;
  }
}
.small-tab {
  font-size: 90%;
}
