.heading-1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: solid #2f2f2f 1px;
  margin-bottom: 10px;
}
.hospital-name {
  display: flex;
  flex-direction: column;
  line-height: 13px;
}
.hospital-name img {
  height: 30px;
  width: 30px;
}
.patient-data {
  line-height: 10px;
  font-size: 20px;
}
.home-link {
  color: #2f2f2f;
  text-decoration: none;
  transition: 800ms;
}
.home-link:hover {
  color: #5a5a5a;
  font-weight: bold;
}

/* ADMIN LOGIN */
.admin-title {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.admin-title a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}
@media all and (min-width: 360px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
/* ADMIN DASHBOARD  */

.box {
  margin: 10px;
  display: flex;
  color: whitesmoke;
  text-decoration: none;
  font-size: 3vw;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  height: 200px;
  transition: 400ms;
}

.welcome-doctor {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 18px;
  color: #2f2f2f;
}
.box-1 {
  border-radius: 5px;
  background-color: #845ec2;
}
.box-2 {
  border-radius: 5px;
  background-color: #4b4453;
}
.box-3 {
  border-radius: 5px;
  background-color: #b0a8b9;
}
.box-4 {
  border-radius: 5px;
  background-color: #ff8066;
}

/* ////MEDIA QUERIES  */
@media screen and (max-width: 480px) {
  .box {
    height: 80px;
  }
}
