.heading-1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: solid #2f2f2f 1px;
  margin-bottom: 10px;
}
.hospital-name {
  display: flex;
  flex-direction: column;
  line-height: 13px;
}
.hospital-name img {
  height: 30px;
  width: 30px;
}
.patient-data {
  line-height: 10px;
  font-size: 20px;
}
.home-link {
  color: #2f2f2f;
  text-decoration: none;
  transition: 800ms;
}
.home-link:hover {
  color: #5a5a5a;
  font-weight: bold;
}
.sample {
  border: 1px solid red;
  /* height: 400px; */
}
.sample2 {
  border-radius: 10%;
  background-color: royalblue;
}
.border-rounded {
  border-radius: 15px;
}
.carousel-background {
  width: 100%;
  margin-left: -10%;
  margin-right: -10%;
  margin-top: -25%;
  left: 0;
  z-index: -10;
  overflow: hidden;
}
/* LABELS /////////// */
.flying-labels {
  position: absolute;
  top: 200px;
  left: 4vw;
  /* border: tomato 2px solid; */
  height: 200px;
  width: 90vw;
}
/* ADMIN LOGIN */
.admin-title {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.admin-title a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}
@media all and (min-width: 360px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
/* ADMIN DASHBOARD  */

.box {
  margin: 10px;
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 3vw;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  height: 200px;
  transition: 400ms;
}

.welcome-doctor {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 18px;
  color: #2f2f2f;
}
.box-1 {
  border-radius: 5px;
  background-color: #845ec2;
}

.box-2 {
  border-radius: 5px;
  background-color: #4b4453;
}
.box-3 {
  border-radius: 5px;
  background-color: #b0a8b9;
}
.box-4 {
  border-radius: 5px;
  background-color: #ff8066;
}
/* TOP ROW /////////////////////////////////// */
.my-links {
  text-align: center;
}
.my-links a {
  padding: 0 10px;
  font-size: 110%;
  text-decoration: none;
  color: #2f2f2f;
  border-bottom: 1px solid transparent;

  transition: 500ms;
}
.my-links a:hover {
  font-size: 110%;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

/* PATIENT LIST  */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* DOCTOR CARD ////////////////// */
.card1 {
  width: 240px;
  height: 270px;
  display: flex;
  position: relative;
  border: 1px solid red;
  border-radius: 5px;
  margin: 10px;
  /* align-items: center;
  flex-direction: column; */
}
.doc-img {
  height: 100%;
  width: 100%;

  position: relative;
}
.doc-img img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.doc-name {
  margin-top: -10px;
  font-size: 1em;
  line-height: 16px;
  font-weight: bold;
}
.doc-qual {
  margin-top: -8px;
  font-size: 0.8em;
}
.doc-additional {
  margin-top: -14px;
  font-size: 0.7em;
  line-height: 12px;
}
/* ////MEDIA QUERIES  */
@media screen and (max-width: 980px) {
  .card1 {
    width: 160px;
    height: 190px;
  }
  .doc-name {
    font-size: 0.8em;
  }
  .doc-qual {
    font-size: 0.6em;
  }
  .doc-additional {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 480px) {
  .box {
    height: 80px;
  }
  th,
  td {
    font-size: 50%;
  }
  .flying-labels {
    top: 140px;
    height: 100px;
  }
  .card1 {
    font-size: 90%;
    width: 280px;
    height: 130px;
    flex-direction: row;
  }
  .doc-img {
    width: 45%;
  }
  .doc-qual {
    font-size: 0.9em;
  }
}

/* LABELS  /////////////// */
.label1 {
  font-size: 4vw;
  text-transform: uppercase;
  color: aliceblue;
  font-weight: 500;
}
.label2 {
  margin-left: 20%;
  font-size: 5vw;
  text-transform: uppercase;
  color: aliceblue;
  font-weight: 500;
}
.move-left {
  animation: fly-left 6s ease-in-out;
}
.move-right {
  animation: ease-in-out 6s fly-right;
}
@keyframes fly-left {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fly-right {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}
